.searchContainer {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 350px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 60px;
    background: #fff;
    display: flex;
    align-items: center;
}
.searchContainer .searchInput {
    padding: 5px;
    outline: none;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-right: 10px;
}
.Button {
    background: none;
    border: none;
    padding: 3px;
    margin-right: 10px;
    cursor: pointer;
}
